## 판다스 사용 -> 대용량 데이터 작성에 용이하다.

In [6]:
import pandas as pd

In [8]:
df = pd.DataFrame( 
    {"a" : [4 ,5, 6],
     "b" : [7, 8, 9],
     "c" : [10, 11, 12]},
    index = [1, 2, 3])

In [11]:
df #데이터프레임

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [15]:
df["a"] #시리즈 1차원 ->벡터

1    4
2    5
3    6
Name: a, dtype: int64

In [17]:
df[["a"]] #데이터프레임 -> 행렬

   a
1  4
2  5
3  6