In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
True == 1

True

In [3]:
True == "1"

False

In [4]:
True != "1"

True

In [7]:
til = "Today I learned"

In [8]:
til

'Today I learned'

In [9]:
til.lower()

'today i learned'

In [10]:
til.upper()

'TODAY I LEARNED'

In [11]:
 lang = []

In [12]:
lang

[]

In [13]:
lang.append("python")

In [14]:
lang.append("java")
lang.append("c")
lang

['python', 'java', 'c']

In [15]:
lang[0]

'python'

In [16]:
lang[-1]

'c'

In [20]:
for i in lang:
    print(i)

python
java
c

In [21]:
for i in lang:
    if i=="python":
        print("python")
    else:
        print("기타")

python
기타
기타

In [23]:
count = len(lang)
for i in range(count):
    print(lang[i])

python
java
c

In [26]:
for i in range(1,10):
    if i % 2 == 0:
        print("python")
    else:
        print("java")

java
python
java
python
java
python
java
python
java

In [27]:
address = " 경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층 "
address

' 경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층 '

In [28]:
address = address.strip()

In [29]:
address

'경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [30]:
len(address)

33

In [32]:
address.split()

['경기도', '성남시', '분당구', '불정로', '6', 'NAVER', '그린팩토리', '16층']

In [33]:
address_list = address.split()

In [34]:
address_list

['경기도', '성남시', '분당구', '불정로', '6', 'NAVER', '그린팩토리', '16층']

In [35]:
address

'경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [36]:
address[:2]

'경기'

In [37]:
address.startswith("경기")

True

In [38]:
"경기" in address

True

In [39]:
address_list

['경기도', '성남시', '분당구', '불정로', '6', 'NAVER', '그린팩토리', '16층']

In [43]:
gu = address_list[2]

In [44]:
street = address_list[3]

In [45]:
address_list[-1]

'16층'

In [48]:
" ".join(address_list)

'경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [50]:
"경기" in address_list

False

In [51]:
"경기도" in address_list

True