# 10 minutes to pandas

#### 공식문서 활용: pd.DafaFrame (shift+tab+tab) or pd.DataFrame?

In [1]:
import numpy as np
import pandas as pd

## 1. Objection creation

* Creating a Series by passing a list of values, letting pandas create a default integer index

In [2]:
s = pd.Series([1,2,3,4,5,np.nan])

In [3]:
s

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
dtype: float64

* Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns

In [4]:
dates = pd.date_range('20200324','20200329')

In [5]:
dates

DatetimeIndex(['2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27',
               '2020-03-28', '2020-03-29'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,5),index=dates,columns=list('ABCDE'))

In [7]:
df

                   A         B         C         D         E
2020-03-24  1.208178 -0.468511  1.096842 -1.413584  0.931286
2020-03-25 -0.207455 -1.029713  0.196828  0.488524 -0.201098
2020-03-26  0.522294  0.725883 -0.438250  0.426206  0.583794
2020-03-27  1.513032  0.314054 -0.606759  0.246542  1.454957
2020-03-28 -0.568149 -0.558411  0.096933  0.099427 -0.628217
2020-03-29 -0.888792 -2.370313 -0.207699  0.008703  0.901858

* Creating a DataFrame by passing a dict of objects that can be converted to series-like

In [8]:
df2 = pd.DataFrame({'A':1.,
                    'B':pd.Timestamp('20130102'),
                    'C':pd.Series([5]*5,dtype='float32'),
                    'D':np.array([3]*6,dtype='str'),
                    'E':pd.Categorical(["test","train","test","train","test","train"]),
                    'F':'foo'},index=list(range(0,6)))

In [9]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  5.0  3   test  foo
1  1.0 2013-01-02  5.0  3  train  foo
2  1.0 2013-01-02  5.0  3   test  foo
3  1.0 2013-01-02  5.0  3  train  foo
4  1.0 2013-01-02  5.0  3   test  foo
5  1.0 2013-01-02  NaN  3  train  foo

* The columns of the resulting DataFrame have different dtypes

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D            object
E          category
F            object
dtype: object

* If you’re using IPython, tab completion for column names (as well as public attributes) is automatically enabled. Here’s a subset of the attributes that will be completed:

In [11]:
df2.A # <TAB> -> '.' 입력 후 tab키를 누르면 가능한 속성들을 보여준다.

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
Name: A, dtype: float64

## Viewing data

* Here is how to view the top and bottom rows of the frame:

In [12]:
df.head()

                   A         B         C         D         E
2020-03-24  1.208178 -0.468511  1.096842 -1.413584  0.931286
2020-03-25 -0.207455 -1.029713  0.196828  0.488524 -0.201098
2020-03-26  0.522294  0.725883 -0.438250  0.426206  0.583794
2020-03-27  1.513032  0.314054 -0.606759  0.246542  1.454957
2020-03-28 -0.568149 -0.558411  0.096933  0.099427 -0.628217

In [13]:
df.tail(3)

                   A         B         C         D         E
2020-03-27  1.513032  0.314054 -0.606759  0.246542  1.454957
2020-03-28 -0.568149 -0.558411  0.096933  0.099427 -0.628217
2020-03-29 -0.888792 -2.370313 -0.207699  0.008703  0.901858

* Display the index, columns:

In [14]:
df.index

DatetimeIndex(['2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27',
               '2020-03-28', '2020-03-29'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

##### DataFrame.to_numpy() gives a NumPy representation of the underlying data. Note that this can be an expensive operation when your DataFrame has columns with different data types, which comes down to a fundamental difference between pandas and NumPy: NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column. When you call DataFrame.to_numpy(), pandas will find the NumPy dtype that can hold all of the dtypes in the DataFrame. This may end up being object, which requires casting every value to a Python object.

numpy는 데이터프레임 내의 모든 데이터를 하나의 데이터타입으로(여러 데이터 타입일 때에는 ojbect) pandas는 각 열의 데이터 타입으로 지정할 수 있다.

* For df, our DataFrame of all floating-point values, DataFrame.to_numpy() is fast and doesn’t require copying data.

In [16]:
df.to_numpy()

array([[ 1.2081783 , -0.46851088,  1.0968416 , -1.41358445,  0.93128635],
       [-0.20745486, -1.02971341,  0.19682831,  0.48852382, -0.20109754],
       [ 0.5222943 ,  0.72588269, -0.43825043,  0.42620582,  0.58379407],
       [ 1.51303233,  0.31405414, -0.60675901,  0.2465417 ,  1.45495736],
       [-0.56814889, -0.55841125,  0.09693281,  0.0994269 , -0.62821732],
       [-0.88879238, -2.37031275, -0.20769883,  0.00870266,  0.90185849]])

* For df2, the DataFrame with multiple dtypes, DataFrame.to_numpy() is relatively expensive.

In [17]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 5.0, '3', 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 5.0, '3', 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 5.0, '3', 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 5.0, '3', 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 5.0, '3', 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), nan, '3', 'train', 'foo']],
      dtype=object)

#### Note

DataFrame.to_numpy() does not include the index or column labels in the output.

* describe() shows a quick statistic summary of your data:

In [18]:
df.describe()

              A         B         C         D         E
count  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.263185 -0.564502  0.022982 -0.024031  0.507097
std    0.975903  1.088447  0.608504  0.705097  0.778534
min   -0.888792 -2.370313 -0.606759 -1.413584 -0.628217
25%   -0.477975 -0.911888 -0.380613  0.031384 -0.004875
50%    0.157420 -0.513461 -0.055383  0.172984  0.742826
75%    1.036707  0.118413  0.171854  0.381290  0.923929
max    1.513032  0.725883  1.096842  0.488524  1.454957

* Transposing your data:

In [19]:
df.T #행 <-> 열 바꾸기

   2020-03-24  2020-03-25  2020-03-26  2020-03-27  2020-03-28  2020-03-29
A    1.208178   -0.207455    0.522294    1.513032   -0.568149   -0.888792
B   -0.468511   -1.029713    0.725883    0.314054   -0.558411   -2.370313
C    1.096842    0.196828   -0.438250   -0.606759    0.096933   -0.207699
D   -1.413584    0.488524    0.426206    0.246542    0.099427    0.008703
E    0.931286   -0.201098    0.583794    1.454957   -0.628217    0.901858

* Sorting by an axis:

In [20]:
df.sort_index(axis=1, ascending=False) #ascending=False -> 열을 내림차순으로 정렬

                   E         D         C         B         A
2020-03-24  0.931286 -1.413584  1.096842 -0.468511  1.208178
2020-03-25 -0.201098  0.488524  0.196828 -1.029713 -0.207455
2020-03-26  0.583794  0.426206 -0.438250  0.725883  0.522294
2020-03-27  1.454957  0.246542 -0.606759  0.314054  1.513032
2020-03-28 -0.628217  0.099427  0.096933 -0.558411 -0.568149
2020-03-29  0.901858  0.008703 -0.207699 -2.370313 -0.888792

* Sorting by values:

In [21]:
df.sort_values(by='B') #B열 기준으로 정렬 -> B열을 오름차순으로 정렬했다.

                   A         B         C         D         E
2020-03-29 -0.888792 -2.370313 -0.207699  0.008703  0.901858
2020-03-25 -0.207455 -1.029713  0.196828  0.488524 -0.201098
2020-03-28 -0.568149 -0.558411  0.096933  0.099427 -0.628217
2020-03-24  1.208178 -0.468511  1.096842 -1.413584  0.931286
2020-03-27  1.513032  0.314054 -0.606759  0.246542  1.454957
2020-03-26  0.522294  0.725883 -0.438250  0.426206  0.583794

## Selection
#### Note

While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, .at, .iat, .loc and .iloc.

## Getting
Selecting a single column, which yields a Series, equivalent to df.A:

In [22]:
df['A'] #A열 출력 df.A와 같다.

2020-03-24    1.208178
2020-03-25   -0.207455
2020-03-26    0.522294
2020-03-27    1.513032
2020-03-28   -0.568149
2020-03-29   -0.888792
Freq: D, Name: A, dtype: float64

Selecting via [], which slices the rows. 행으로 슬라이스

In [23]:
df[0:3]

                   A         B         C         D         E
2020-03-24  1.208178 -0.468511  1.096842 -1.413584  0.931286
2020-03-25 -0.207455 -1.029713  0.196828  0.488524 -0.201098
2020-03-26  0.522294  0.725883 -0.438250  0.426206  0.583794

In [24]:
df['20130101':'20130103'] #인덱스를 직접입력해서 슬라이스

Empty DataFrame
Columns: [A, B, C, D, E]
Index: []

## Selection by label

See more in Selection by Label.

For getting a cross section using a label:

In [25]:
df

                   A         B         C         D         E
2020-03-24  1.208178 -0.468511  1.096842 -1.413584  0.931286
2020-03-25 -0.207455 -1.029713  0.196828  0.488524 -0.201098
2020-03-26  0.522294  0.725883 -0.438250  0.426206  0.583794
2020-03-27  1.513032  0.314054 -0.606759  0.246542  1.454957
2020-03-28 -0.568149 -0.558411  0.096933  0.099427 -0.628217
2020-03-29 -0.888792 -2.370313 -0.207699  0.008703  0.901858

In [27]:
df.loc['20200324'] #df.loc[dates[0]]과 같다.

A    1.208178
B   -0.468511
C    1.096842
D   -1.413584
E    0.931286
Name: 2020-03-24 00:00:00, dtype: float64

Selecting on a multi-axis by label:

In [28]:
df.loc[:,['A', 'B']]

                   A         B
2020-03-24  1.208178 -0.468511
2020-03-25 -0.207455 -1.029713
2020-03-26  0.522294  0.725883
2020-03-27  1.513032  0.314054
2020-03-28 -0.568149 -0.558411
2020-03-29 -0.888792 -2.370313

Showing label slicing, both endpoints are included:

In [29]:
df.loc[dates[0]:dates[3],['A','B']]

                   A         B
2020-03-24  1.208178 -0.468511
2020-03-25 -0.207455 -1.029713
2020-03-26  0.522294  0.725883
2020-03-27  1.513032  0.314054

Reduction in the dimensions of the returned object:

In [31]:
df.loc['20200324',['A','B']]

A    1.208178
B   -0.468511
Name: 2020-03-24 00:00:00, dtype: float64

For getting a scalar value:

In [32]:
df.loc[dates[0],'A']

1.208178299765706

In [33]:
df.loc[dates[0]:dates[3],['A']]

                   A
2020-03-24  1.208178
2020-03-25 -0.207455
2020-03-26  0.522294
2020-03-27  1.513032

For getting fast access to a scalar (equivalent to the prior method):

In [34]:
df.at[dates[0],'A']

1.208178299765706

## Selection by position
See more in Selection by Position.

Select via the position of the passed integers:

In [35]:
df.iloc[3]

A    1.513032
B    0.314054
C   -0.606759
D    0.246542
E    1.454957
Name: 2020-03-27 00:00:00, dtype: float64

By integer slices, acting similar to numpy/python:

In [36]:
df.iloc[3:5,0:2]

                   A         B
2020-03-27  1.513032  0.314054
2020-03-28 -0.568149 -0.558411

By lists of integer position locations, similar to the numpy/python style:

In [37]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2020-03-25 -0.207455  0.196828
2020-03-26  0.522294 -0.438250
2020-03-28 -0.568149  0.096933

For slicing rows explicitly:

In [38]:
df.iloc[1:3,:]

                   A         B         C         D         E
2020-03-25 -0.207455 -1.029713  0.196828  0.488524 -0.201098
2020-03-26  0.522294  0.725883 -0.438250  0.426206  0.583794

For slicing columns explicitly:

In [39]:
df.iloc[:,1:3]

                   B         C
2020-03-24 -0.468511  1.096842
2020-03-25 -1.029713  0.196828
2020-03-26  0.725883 -0.438250
2020-03-27  0.314054 -0.606759
2020-03-28 -0.558411  0.096933
2020-03-29 -2.370313 -0.207699

For getting a value explicitly:

In [40]:
df.iloc[1,1]

-1.0297134070693839

For getting fast access to a scalar (equivalent to the prior method):

In [41]:
df.iat[1,1]

-1.0297134070693839

## Boolean indexing
Using a single column’s values to select data.

In [42]:
df[df['A']>0]

                   A         B         C         D         E
2020-03-24  1.208178 -0.468511  1.096842 -1.413584  0.931286
2020-03-26  0.522294  0.725883 -0.438250  0.426206  0.583794
2020-03-27  1.513032  0.314054 -0.606759  0.246542  1.454957

Selecting values from a DataFrame where a boolean condition is met.

In [43]:
df[df>0]

                   A         B         C         D         E
2020-03-24  1.208178       NaN  1.096842       NaN  0.931286
2020-03-25       NaN       NaN  0.196828  0.488524       NaN
2020-03-26  0.522294  0.725883       NaN  0.426206  0.583794
2020-03-27  1.513032  0.314054       NaN  0.246542  1.454957
2020-03-28       NaN       NaN  0.096933  0.099427       NaN
2020-03-29       NaN       NaN       NaN  0.008703  0.901858

Using the isin() method for filtering:

In [44]:
df2 = df.copy()

In [46]:
df2['F']= ['one', 'one', 'two', 'three', 'four', 'three']

In [47]:
df2

                   A         B         C         D         E      F
2020-03-24  1.208178 -0.468511  1.096842 -1.413584  0.931286    one
2020-03-25 -0.207455 -1.029713  0.196828  0.488524 -0.201098    one
2020-03-26  0.522294  0.725883 -0.438250  0.426206  0.583794    two
2020-03-27  1.513032  0.314054 -0.606759  0.246542  1.454957  three
2020-03-28 -0.568149 -0.558411  0.096933  0.099427 -0.628217   four
2020-03-29 -0.888792 -2.370313 -0.207699  0.008703  0.901858  three

In [48]:
df2[df2['E'].isin(['two','four'])]

Empty DataFrame
Columns: [A, B, C, D, E, F]
Index: []

## Setting
Setting a new column automatically aligns the data by the indexes.

In [49]:
s1 = pd.Series([1,2,3,4,5,6],index=pd.date_range('20130102',periods=6))

In [50]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [51]:
df['F'] = s1

Setting values by label:

In [52]:
df

                   A         B         C         D         E   F
2020-03-24  1.208178 -0.468511  1.096842 -1.413584  0.931286 NaN
2020-03-25 -0.207455 -1.029713  0.196828  0.488524 -0.201098 NaN
2020-03-26  0.522294  0.725883 -0.438250  0.426206  0.583794 NaN
2020-03-27  1.513032  0.314054 -0.606759  0.246542  1.454957 NaN
2020-03-28 -0.568149 -0.558411  0.096933  0.099427 -0.628217 NaN
2020-03-29 -0.888792 -2.370313 -0.207699  0.008703  0.901858 NaN

In [53]:
df.at[dates[0],'A'] = 0

Setting values by position:

In [54]:
df.iat[0,1] = 0

Setting by assigning with a NumPy array:

In [55]:
df.loc[:,'D'] = np.array([5]*len(df))

In [56]:
df

                   A         B         C  D         E   F
2020-03-24  0.000000  0.000000  1.096842  5  0.931286 NaN
2020-03-25 -0.207455 -1.029713  0.196828  5 -0.201098 NaN
2020-03-26  0.522294  0.725883 -0.438250  5  0.583794 NaN
2020-03-27  1.513032  0.314054 -0.606759  5  1.454957 NaN
2020-03-28 -0.568149 -0.558411  0.096933  5 -0.628217 NaN
2020-03-29 -0.888792 -2.370313 -0.207699  5  0.901858 NaN

The result of the prior setting operations.

In [57]:
df

                   A         B         C  D         E   F
2020-03-24  0.000000  0.000000  1.096842  5  0.931286 NaN
2020-03-25 -0.207455 -1.029713  0.196828  5 -0.201098 NaN
2020-03-26  0.522294  0.725883 -0.438250  5  0.583794 NaN
2020-03-27  1.513032  0.314054 -0.606759  5  1.454957 NaN
2020-03-28 -0.568149 -0.558411  0.096933  5 -0.628217 NaN
2020-03-29 -0.888792 -2.370313 -0.207699  5  0.901858 NaN

A where operation with setting.

In [58]:
df2 = df.copy()

In [59]:
df2[df2>0] = -df2

In [60]:
df2

                   A         B         C  D         E   F
2020-03-24  0.000000  0.000000 -1.096842 -5 -0.931286 NaN
2020-03-25 -0.207455 -1.029713 -0.196828 -5 -0.201098 NaN
2020-03-26 -0.522294 -0.725883 -0.438250 -5 -0.583794 NaN
2020-03-27 -1.513032 -0.314054 -0.606759 -5 -1.454957 NaN
2020-03-28 -0.568149 -0.558411 -0.096933 -5 -0.628217 NaN
2020-03-29 -0.888792 -2.370313 -0.207699 -5 -0.901858 NaN